@model IEnumerable<admin.Models.Client>
@{
  ViewBag.Title = "Clients";
}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

  <Table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Edit
        </th>
        <th scope="col" class="px-6 py-3">
          Delete
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var client in Model)
      {
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td class="px-6 py-4">@client.ClientName</td>
          <td class="px-6 py-4">@client.ClientEmail</td>
          <td class="px-6 py-4">
            @Html.ActionLink("Edit", "Form", "Clients", client)
          </td>
          <td class="px-6 py-4">
            @Html.ActionLink("Delete", "DeleteClient", "Clients", client)
          </td>
        </tr>
      }
    </tbody>
  </Table>
</div>

<a href='@Url.Action("CreateClient", "clients")'>
  <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center mt-2">
    <span>Create New</span>
  </button>
</a>